.footer {
	background-color: #0a0c0e;
}

.text-grey {
	color: #d2d3d4;
}

.footer-div {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.footer-links p {
	color: #d2d3d4;
}

.hiring-box {
	padding: 0.5rem;
	background-color: #574cfa;
}

.instagram-icon {
	width: 1rem;
    height: 1rem;
}

.footer-copyright {
	font-size: 0.875rem;
	color: #d2d3d4;
}

.facebook-icon,
.google-icon,
.linkedin-icon,
.twitter-icon {
    width: 1rem;
    height: 1rem;
    margin-top: -2px;
    margin-right: 5px
}