.navbar {
	box-shadow: 0 1px 10px 4px rgba(10,12,14,.2);
}

.nav-div {
	width: 100%;
}

.nav-mail-div {
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #fff; 
}

.envelope-icon {
	width: 1rem;
	height: 1rem;
	margin-top: -2px;
	margin-right: 5px;
}

.nav-mail-text {
	color: #fff;
}

.nav-seperator-line {
	color: #fff;
	margin: 0px 10px;
}

.nav-call {
	height: 1rem;
	width: 1rem;
}

.nav-call-number {
	color: #34393f;	
}

.nav .dropdown-toggle::after {
	border: solid black!important;
    border-width: 0 1.5px 1.5px 0!important;
    padding: 3px!important;
    transform: rotate(45deg)!important;
    -webkit-transform: rotate(45deg);
}

.nav-dropdown-text {
	color: #34393f;
}
