.min-vh-90 {
	min-height: 90vh;
}

.heating-header-letter {
	border-bottom: 3px solid #007bff;
	font-size: 3.5rem;
}

.heating-header {
	font-size: 3.5rem;
}

.estimate-border {
	border-bottom: 3px solid #007bff;
}

.estimate-text {
	color: #484848;
}

.card {
	width: 90%!important;
	max-width: 475px;
}

.card-body {
	padding: 3rem 1.75rem!important;
}

.input-group-prepend {
	width: 100%;
}

.form-control {
    border-top-right-radius: 0px!important;
}

.input-group-text {
	border-top-right-radius: 0.25rem!important;
	border-bottom-right-radius: 0.25rem!important;	
}

.user-icon {
	height: 1rem;
	width: 1rem;
}

.open-envelope-icon {
	height: 1rem;
	width: 1rem;
}

.phone-icon {
	height: 1rem;
	width: 1rem;
}

.estimate-quote-div {
	width: 100%;
}

.estimate-quote-btn {
	width: 100%;
	letter-spacing: 0.5px;
}

@media only screen and (max-width: 992px) {
	.sub-section-1 {
		margin-bottom: 1.5rem;
	}
}