.section {
	padding-top: 7.5rem;
	padding-bottom: 6.5rem;
}

.w-85 {
	max-width: 85%;
}

.min-vh-90 {
	min-height: 90vh;
}

.text-black {
	color: black;
}

.purple-section {
	background-color: #574cfa;
}

.privacy-info-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.privacy-logo {
	width: 105px;
	height: 125px;
}

.privacy-header {
	font-size: 3rem;
}