.section {
	padding-top: 7.5rem;
	padding-bottom: 6.5rem;
}

.w-85 {
	max-width: 85%;
}

.min-vh-90 {
	min-height: 90vh;
}

.text-black {
	color: black;
}

.zebra-question {
	font-size: 3.5rem;
}

.images-div {
	width: 165px;
	height: 130px;
}

.info-image {
	width: 100%;
	height: 100%;
}

.info-text {
	max-width: 300px;
	color: #4a4f53;
}