.min-vh-90 {
	min-height: 90vh;
}

.text-black {
	color: black;
}

.easy-header {
	font-size: 3rem;
}

.buy-online {
	width: 145px;
	height: 125px;
}

.online-header {
	font-size: 2rem;
}

.online-brief {
	margin-bottom: 2rem;
}

.call-mobile {
	width: 115px;
	height: 125px;
}

.cta-divider {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0px;
    position: relative;
}

.cta-divider .cta-divider-circle {
    align-items: center;
    background: #0a0c0e;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-family: Basetica,Helvetica Neue,Arial,Verdana,sans-serif;
    font-weight: 700;
    height: 60px;
    justify-content: center;
    width: 60px;
}

.cta-divider .cta-divider-circle::after {
	position: absolute;
	content: "";
	border-top: none;
    border-left: 2px solid #0a0c0e;
    height: 100%;
    left: 50%;
    top: 0;
    width: 1px;
    z-index: -1;
}

.start-input {
	height: 4.65rem;
	border: 1px solid #574cfa;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.right-arrow {
	width: 20px;
	height: 20px;
}

.start-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
    background-color: #574cfa;
    border: 1px solid #574cfa;
}

.security-text {
	color: #606569;	
}

.call {
	height: 1.25rem;
	width: 1.25rem;
	margin-top: -5px;
}

.call-brief {
	color: #606569;
}